* {
    margin: 0px;
    padding: 0px;
}

/* ------------------ Navigation bar starts --------------------------- */
#navbar {
    height: 60px;
    background-color: #0f1111;
    border: 3px solid white;
}

.option {
    margin-right: 150px;
    color: white;
    text-decoration: none;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

#insert {
    display: inline-block;
}

#submit_button {
    background-color: #f08804;
    color: white;
}

#text_input {
    background-color: white;
}

/* ------------------ Navigation bar end --------------------------- */
.contentbox {
    height: 100px;
    width: 100px;
    margin: 5px;
    display: inline-block;
}

#box1 {
    background-color: rgba(255, 0, 0, 0.5);
}

#box2 {
    background-color: rgba(0, 255, 0, 0.5);
}

#box3 {
    background-color: rgba(0, 0, 255, 0.5);
}