/* * {
    background-color: yellow;
}

button {
    background-color: green;
}

.heading {
    background-color: blue;
    color: red;
}

#box{
    background-color: blue;
} */
* {
    font-family: 'Times New Roman';
    text-transform: capitalize;
}